/* Selector Universal */
 * {
    padding: 0;
    margin: 0;
} 

    body{
        background-color: bisque;
    }
    
    /*Selector Id*/
    #encabezado {
        background-color: #66ccff;
        padding: 1em;
        display: flex;
        justify-content: center;
    }
    


    #navegacion {
        background-color:   #ff0000;
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        justify-content: space-evenly;
    }

    #navegacion a {
        text-decoration: none;
        padding: .5em;
    }

    #navegacion a:hover {
        background-color: bisque;
        color: #ff0000;
    }
    


    #contenido { 
        background-color: #000080;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        #contenido {
            background-color: #000080;
           display: inline-block;
           margin: 0 2em;
           padding: 2%;
        }
    }

    #pie {
        background-color: #66ccff;
        padding: .5em;
        font-size: larger;
    }

    #info {
        margin-bottom: 3em;
    }
    
    /* Selector de Clase */    
    .encabezado_articulo {
        text-align: center;
        background: aquamarine;
        color: #000080;
        padding: 1%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 180%;
    }
    
    .imagen {
        display:flex;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 350px;
    }

    

    .imagen2 img{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 250px;
    }

    .imagen2 {
        text-align: center;
        color: white;
        margin: 0 5px;
        
    }

    .contenedor-imagen2 {
        display: grid;
        row-gap: 3em;
        
    }

    @media (min-width: 768px) {
        .contenedor-imagen2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3em;
        }
    }

    .frase{
        background-color: aquamarine;
        color: #000080;
        width: 45%;
        margin: auto;
        height: auto;
        border-radius: 2em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        justify-content: center;
        
    }

    .enlaces{
        color: white;
        background-color:   #ff0000;
        padding: 0.5em;
    }

    .row{
        display: flex;
        flex-wrap: wrap; 
        background-color: #000080   ;
       
        border-radius: 10px;
    }

    /*Minimizado*/
    .rowFormulario{
        /* /display: flex;
        flex-wrap: wrap; 
        background-color: #000080    ;
        text-align: left;
        color: white;*/
           
        border-radius: 15px;
        background-color: #000080;
        color: white;
        display: flex;
        justify-content: center;

    }

    .botones{
        justify-content: right;
        display: flex;
    }

    .botones .textoBotones{
        cursor: pointer;
        
        
    }

    .textoBotones{
        background-color: #66ccff;
        color: white;
        font-size: 123%;
        padding: .3em;
        border-radius: 3em;
        border: 2px solid white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .botonesAdmin{
        justify-content: space-between;
        display: flex;
        font-size: 15px;

    }
    
    .textoBotonesAdmin{
        background-color: aquamarine;
        color: #000080;
        font-size: 123%;
        padding: .5em;
        border-radius: 3em;
        border: 2px solid white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0 2.5em;
        cursor: pointer;
    }

    
    .cajaFormu{
        border-radius: 8px;
    }

    /*Amplio*/
    @media (min-width: 768px) {
        .rowFormulario {
            background-color: #000080;
            color: white;
           /* display: inline-block; */
           margin: 0 2em;
           padding: 2%;
           
           
           display: flex;
        }
    }

    

     .texto {
        text-align: justify;
        font-family: Cambria;
        font-size: larger;
        color: white;
        margin:  1em auto;
    }

    .textoFormu{
        text-align: justify;
        font-family: Cambria;
        font-size: larger;
        color: white;
        margin:  1em auto;
    }

    

@media screen and (max-width: 700px){
    nav, #navegacion, .row{
        flex-direction: column;
        text-align: center;
        justify-content: center;
       
    }
}